@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.form__body__container p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none !important;
  color: white !important;
}

button a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  
}

.form__body__container {
  width: 90%;
  max-width: 1350px;
  margin: 0 auto;
  padding: 35px 0;
}

.form__logosteps__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  align-items: center;
}

.form__steps_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11px;
}

.form__steps_container div {
  width: 65px;
  height: 7px;
  border-radius: 10px;
}

.active__form__step {
  background-color: #ed1c24;
}
.inactive__form__step {
  background-color: #f6f6f6;
}

.form__content__container {
  margin: 28px 0 0;
}

.form__title__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  position: relative;
}

.form__title__wrapper button {
  border: none;
  outline: none;
  background: transparent;
}

.form__title__wrapper button img {
  height: 24px;
}

.form__title__container {
  text-align: center;
  width: 100%;
  max-width: 542px;
  margin: 0 auto;
}

.form__title__container h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 29.5px;
  color: #1e1e1e;
  padding-bottom: 4px;
}
.form__title__container p {
  font-size: 16px;
  line-height: 24px;
  color: #404040;
}

.form__inputs__container,
.form__inputs__container__step2 {
  margin: 30px 0 0;
}

.custom__form__select {
  border-radius: 8px !important;
  box-shadow: none !important;
  border-color: #d0d5dd !important;
  height: 45px !important;
  font-size: 14px !important;
}

.custom__form__select:focus {
  border-color: #d0d5dd !important;
}

.custom__form__select option {
  font-size: 14px !important;
  line-height: 17px !important;
  color: #1e1e1e !important;
}

.custom__form__label {
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 20px !important;
  color: #1e1e1e !important;
}

.step1__form__cont {
  width: 100%;
  max-width: 634px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.select__placeholder {
  color: #737488 !important;
}

.flex__select__inputs {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 20px;
}

.step1__next__button {
  height: 44px;
  width: 100%;
  max-width: 496px;
  border-radius: 42px;
  font-size: 16px;
  text-align: center;
  color: white;
  margin: 30px auto 0;
}

.step1__next__button__cont {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom__next__button {
  background-color: #ed1c24;
  border: none;
  outline: none;
}
.custom__next__button:disabled {
  background-color: #c5cee0;
}

/* step 2 */

.form__inputs__container__step2 {
  width: 100%;
  max-width: 1022px;
  margin-left: auto !important;
  margin-right: auto !important;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 30px;
  position: relative;
}

.step2__sideinfo {
  background-color: #f9f9f9;
  border-radius: 16px;
  padding: 30px 20px;
  display: flex;
  justify-content: start;
  width: 100%;
  flex-direction: column;
  gap: 25px;
}

.confirm__info {
  background-color: #f9f9f9;
  border-radius: 16px;
  padding: 30px 20px;
  display: flex;
  justify-content: start;
  width: 100%;
  flex-direction: column;
  gap: 25px;
}

.confirm__grid__group {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 25px;
}

.tranfer__details {
  background-color: #f9f9f9;
  border-radius: 16px;
  padding: 25px 20px 20px;
  display: flex;
  justify-content: start;
  width: 100%;
  flex-direction: column;
  gap: 16px;
}

.country__cont2,
.country__cont1 {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.sideInfo__country__cont {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 25px;
}

.sideInfo__country h3,
.sideinfo__label__value h3 {
  color: #9a9aa7;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 8px;
}

.sideInfo__country div {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 9px;
}

.sideInfo__country div img {
  width: 26px;
}

.sideInfo__country div p {
  font-size: 14px;
  line-height: 16px;
  color: #1e1e1e;
}
.sideinfo__label__value p {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #1e1e1e;
}
.country__plane {
  width: 24px;
  display: none;
}

.side__form {
  flex-grow: 1;
}
.side__form__step2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 30px;
}
.side__form__step3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 16px;
}

.custom__date__input {
  border-radius: 8px !important;
  box-shadow: none !important;
  border-color: #d0d5dd !important;
  height: 45px !important;
  font-size: 14px !important;
}

.custom__date__input:focus {
  border-color: #d0d5dd !important;
}

.custom__text__input {
  border-radius: 8px !important;
  box-shadow: none !important;
  border-color: #d0d5dd !important;
  height: 45px !important;
  font-size: 14px !important;
}

.custom__text__input:focus {
  border-color: #d0d5dd !important;
}

.appointment__date__cont {
  width: 100%;
}

.time__slot__label {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #1e1e1e;
}

.time__slot__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.time__slot__container {
  width: 100%;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
}
.time__slot__container button {
  width: 97px;
  height: 40px;
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  border: none;
  outline: none;
  transition: all ease-in-out 0.3s;
}
.inactive__time__slot {
  background-color: #f4f4f4;
  color: #1e1e1e;
}
.active__time__slot {
  background-color: #ed1c24;
  color: white;
}

.appointment__notice {
  background-color: #fff9ee;
  height: 40px;
  width: 100%;
  border-radius: 6px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 6px;
  padding: 0 10px;
  margin-top: 10px;
}

.confirm__appointment__notice {
  background-color: #fff9ee;
  width: 100%;
  border-radius: 6px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 6px;
  padding: 8px 10px;
  margin-top: 15px;
}

.appointment__notice img,
.confirm__appointment__notice img {
  width: 24px;
}

.appointment__notice p,
.confirm__appointment__notice p {
  font-size: 12px;
  line-height: 16px;
  color: #db7923;
}

.confirm__bottom__text {
  font-size: 13.5px;
  line-height: 20px;
  color: #9a9aa7;
}
.confirm__bottom__text span {
  font-weight: 600;
  color: #636262;
}

.appointment__next_cont {
  width: 100%;
  display: flex;
  justify-content: end;
}

.appointment__next_cont button {
  width: 158px;
  height: 44px;
  border-radius: 42px;
  color: white;
  font-size: 16px;
  line-height: 24px;
}
.applicant__title {
  font-weight: 600;
  color: #ed1c24;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 16px;
}
.multiple__aplicants__hr {
  height: 1px;
  background-color: #00000014;
  width: 100%;
  border: none;
  outline: none;
  margin: 30px 0;
}
.applicant__next__button__cont {
  margin-top: 30px;
}

/* requirements */
.medex__img__cont {
  display: none;
}

.medex__container {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 40px;
}
.medex__requirements {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #1e1e1e;
  flex-grow: 1;
}

.medex__heading {
  font-size: 24px !important;
  line-height: 35px !important;
  font-weight: bold;
  margin-bottom: 10px;
}

.medex__intro {
  font-size: 16px !important;
  line-height: 24px !important;
  margin-bottom: 20px;
}

.medex__subheading {
  font-size: 20px !important;
  line-height: 24px !important;
  font-weight: bold;
  margin-top: 30px;
}

.medex__list {
  list-style-type: decimal;
  margin: 15px 0;
  padding-left: 20px;
}

.medex__info {
  font-size: 16px !important;
  line-height: 24px !important;
  margin-bottom: 10px;
}

.medex__country {
  display: flex;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.medex__flag {
  width: 30px;
  height: 20px;
  margin-right: 10px;
}

.medex__country-name {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.medex__investigation-list {
  list-style-type: decimal;
  padding-left: 20px;
  margin-top: 10px;
}

.medex__investigation-list li {
  margin-bottom: 10px;
  font-size: 1rem;
  color: #404040;
}

.medex__investigation-list li strong {
  font-weight: 600 !important;
}

.medex__requirements__button {
  margin-bottom: 20px;
  border: none;
  outline: none;
  background: transparent;
}

.medex__next__cont {
  width: 100%;
  display: flex;
  justify-content: start;
}

.medex__terms__cont {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 20px;
  margin-top: 30px;
}

.medex__next__cont button {
  width: 158px;
  height: 44px;
  border-radius: 42px;
  color: white;
  font-size: 16px;
  line-height: 24px;
}

.payment__type__container {
  width: 100%;
  height: fit-content;
  min-height: 100vh;
  position: relative;
  z-index: 1000;
}

.payment__overlay {
  background: #1e1e1e87;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1001;
}

.payment__type__modal,
.payment__transfer__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 90%;
  max-width: 539px;
  border-radius: 23px;
  z-index: 1002;
  padding: 35px 20px 30px;
}

.payment__modal__cancel {
  position: absolute;
  top: 10px;
  right: 15px;
  border: none;
  outline: none;
  background: transparent;
}

.payment__type__modal,
.payment__transfer__modal h2 {
  font-size: 16px;
  line-height: 20px;
  color: #1e1e1e;
  font-weight: 600;
  text-align: center;
}

.payment__type__modal,
.payment__transfer__modal h5 {
  color: #404040;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  max-width: 352px;
  margin: 0 auto;
}

.payment__buttons__cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 18px;
  margin-top: 25px;
}

.payment__buttons__cont button {
  width: 100%;
  padding: 12px 12px;
  text-align: left;
  box-shadow: 0px 5px 8px 0px #5a5a5a12;
  background: white;
  border-radius: 9px;
  border: solid 1px white;
}

.payment__buttons__cont button:focus {
  border: solid 1px #ed1c24;
}

.payment__buttons__cont button h3 {
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  font-weight: 600;
}
.payment__buttons__cont button p {
  font-size: 12px;
  line-height: 15px;
  color: #404040;
}

.online__payment h3 {
  margin-top: 12px;
}
.clinic__payment h3 {
  margin-top: 2px;
}

.payment__confirm__cont {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.payment__confirm__cont button {
  width: 100%;
  max-width: 251px;
  height: 35px;
  border-radius: 33px;
  color: white;
  font-size: 13px;
  line-height: 20px;
}

.payment__option {
  border-bottom: 1px solid #ebebf0;
}

.payment__option img {
  width: 24px;
}

.payment__option__text p {
  color: #1e1e1e;
  font-size: 15px;
  line-height: 15px;
  padding-bottom: 4px;
  font-weight: 700;
}
.payment__option__text small {
  color: #404040;
  font-size: 13px;
  line-height: 18px;
}

.custom__radio {
  width: 20px;
  height: 20px;
  border: 1px solid #ed1c24;
  border-radius: 50%;
  appearance: none;
  background-color: #fff;
  position: relative;
}

.custom__radio:checked {
  border-color: #ed1c24;
  background-color: white;
}

.custom__radio:checked::after {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ed1c24;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card__payment__modal,
.transfer__payment__modal {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.payment__success__cont {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.payment__success__cont h2 {
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin: 25px 0 20px;
}

.payment__success__cont__p {
  color: #404040;
  font-size: 16px;
  width: 100%;
  font-weight: 400;
  max-width: 355px;
  margin: 0 auto;
  line-height: 24px;
}

.payment__success__button {
  margin-top: 30px !important;
  background: #15971d;
  text-align: center;
  border-radius: 6px;
  height: 45px;
  border: none;
  outline: none;
  width: 100%;
  max-width: 251px;
  margin: 0 auto;
  color: white;
  font-size: 14px;
  line-height: 20px;
}

.card__payment__modal img,
.flutterwave__logo {
  height: 27px;
}
.card__payment__modal h3 {
  color: #000000;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  text-align: center;
  margin: 30px 0;
}
.transfer__h3 {
  color: #404040;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  margin: 25px auto;
  max-width: 365px;
}
.card__payment__modal h4 {
  color: #000000;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  text-align: center;
  margin: 20px 0 0;
}

.custom__input {
  border-radius: 10px;
  font-size: 1.1rem;
  padding: 12px;
  border: 1px solid #eaeaea;
  box-shadow: none;
}

.custom__input::placeholder {
  color: #d9d9d9;
  font-weight: 400;
}

.custom__payInput__cont {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 0px;
  border: 1px solid #d0d5dd;
  border-radius: 6px;
  padding: 8px 10px 4px;
}

.custom__payInput__cont input {
  border: none;
  outline: none;
  padding: 4px 1px;
  font-size: 13px;
  width: 100% !important;
}

.payment__form label {
  font-size: 13px;
  color: #000000;
  margin-bottom: 2px !important;
}

.card__payment__button {
  width: 100%;
  margin-top: 30px;
  background: #f0b822;
  padding: 0 10px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  color: white;
  border-radius: 6px;
  height: 50px;
  border: none;
  outline: none;
}

.transfer__payment__button {
  width: 100%;
  margin-top: 15px;
  background: #f0b822;
  padding: 0 10px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  color: white;
  border-radius: 6px;
  height: 50px;
  border: none;
  outline: none;
}

.card__payment__form__second__row {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 16px;
}

.copy__button {
  background: transparent;
  border: none;
  outline: none;
}

.transfer__timer {
  font-size: 14px;
  line-height: 20px;
  color: #404040;
  margin-top: 20px;
  text-align: center;
}
.transfer__timer span {
  color: #f0b822;
  font-weight: 700;
}

.confirm__content__container {
  max-width: 631px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 760px) {
  .form__logosteps__container {
    flex-direction: row;
    justify-content: space-between;
  }
  .form__body__container {
    padding: 35px 0 55px;
  }

  .form__content__container {
    margin: 50px 0 0;
  }

  .form__title__wrapper button {
    position: absolute;
    top: 0;
    left: 0;
  }

  .payment__buttons__cont {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 20px;
    margin-top: 35px;
  }
  .payment__confirm__cont {
    margin-top: 40px;
  }
  .payment__type__modal {
    padding: 50px 50px;
  }
  .payment__type__modal {
    min-width: 480px;
  }

  .payment__transfer__modal {
    padding: 30px 50px;
  }
  .payment__modal__cancel {
    position: absolute;
    top: 15px;
    right: 20px;
  }
  .form__inputs__container,
  .form__inputs__container__step2 {
    margin: 60px 0 0;
  }
  .step1__form__cont,
  .side__form__step3 {
    gap: 20px;
  }
  .flex__select__inputs {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .step1__next__button {
    margin: 60px auto 0;
  }
  .country__cont2 {
    justify-content: end;
    align-items: end;
  }
  .country__div2 {
    justify-content: end;
  }
  .country__plane {
    display: inline-block;
  }
  .sideInfo__country__cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }
  .country__cont2,
  .country__cont1 {
    display: flex;
    width: 45%;
  }
  .step2__sideinfo {
    padding: 50px 30px;
    gap: 35px;
  }
  .confirm__info {
    padding: 50px 30px;
  }
  .applicant__title {
    margin-bottom: 20px;
  }
  .multiple__aplicants__hr {
    margin: 45px 0;
  }
  .applicant__next__button__cont {
    margin-top: 45px;
  }
  .medex__next__cont {
    width: fit-content;
    justify-content: center;
  }
  .medex__terms__cont {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .payment__option__text p {
    font-size: 16px;
    line-height: 16px;
    padding-bottom: 5px;
  }
  .payment__option__text small {
    font-size: 14px;
    line-height: 20px;
  }
  .confirm__grid__group {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 15px;
  }
  .confirm__grid__group .sideinfo__label__value:last-child {
    margin-left: auto;
    text-align: right !important;
  }
}

@media screen and (min-width: 1200px) {
  .form__inputs__container__step2 {
    flex-direction: row;
    align-items: start;
    gap: 40px;
  }
  .step2__sideinfo {
    width: 42%;
  }
  .stick__to__top {
    position: sticky;
    top: 30px;
  }
  .step2__sideinfo {
    padding: 40px 25px;
  }
  .form__content__container {
    margin: 60px 0 0;
  }
  .medex__img__cont {
    position: sticky;
    top: 30px;
    display: flex;
    width: 70%;
    height: calc(100vh - 145px);
    min-height: 600px;
    background: url("./images/medexBg.svg");
    background-position: top;
    background-size: cover;
    min-width: 489px;
    border-radius: 24px;
    overflow: hidden;
    max-height: 800px;
  }
  .medex__img__cont button {
    position: absolute;
    top: 20px;
    left: 20px;
    border: none;
    outline: none;
    background: transparent;
  }
  .medex__requirements__button {
    display: none;
  }
}
